<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#" ><img src="assets\images\logo.jpeg" alt="img" class="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <div class="spacing"></div>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <div class="spacing"></div>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/songs">All Songs</a>
          </li>
        <div class="spacing"></div>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/song">Song</a>
          </li>
        <div class="spacing"></div>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/favourite">Favourites</a>
          </li>
        <div class="spacing"></div>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/explore">Explore</a>
        </li>
      </ul>
    </div>
  </nav>